@font-face {
  font-family: 'Saudi';
  src: url('./fonts/saudi/SaudiWeb-Regular.woff2') format('woff2'),
       url('./fonts/saudi/SaudiWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Saudi';
  src: url('./fonts/saudi/SaudiWeb-Bold.woff2') format('woff2'),
       url('./fonts/saudi/SaudiWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Saudi', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}


#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
